/********************
 Welcome Pages
********************/

.welcome {
    position: relative;
    min-height: 340px;
    padding: 0 0.5em;

    @include media-query-height($height-600) {
        padding-top: 3vh;
    }
}

.slick-container-container {

}

.welcome h1 {
    text-align: center;
}

.welcome .slick-container {
    padding: 0 0.5em;
    position: relative;
}

.welcome .slick {

    .centered {
        text-align: center;
    }
}

.welcome .slick-slide {
}

.welcome .slick .prompt {
    background-color: $tile-bgcolor;
    color: white;
    max-width: 450px;
    margin: 0 auto 0.5em auto;
    padding: 0.25em 0.5em;
    border-radius: 2px;
    transition: 0.3s;
    &:hover, &:active, &:focus {
      background-color: lighten($tile-bgcolor, 10%);
    }
}


.button-forward {
    width: 32px;
    height: 32px;
    display: inline-block;
    float: right;
}

.welcome .slick p {
    text-align: left;
    max-width: 450px;
    margin: 0 auto 1em auto;
    font-size: $small-font-size;
    img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .screenshot {
        box-shadow: 0 0 9px 2px rgba(255,243,233,0.1);
        max-width: 220px;
        height: auto;
    }
    @include media-query-height($height-600) {
        font-size: $base-font-size;
    }
}

.styled-button {
    border: none;
    background: $tile-bgcolor;
    border-radius: 5px;
    color: $text-color;
    padding: 0.5em 1em;
    font-family: $base-font-family;
    font-size: $base-font-size;
    cursor: pointer;
    -webkit-appearance: none;
    transition: 0.3s;
    &:hover, &:active, &:focus {
      background-color: lighten($tile-bgcolor, 10%);
    }
}

.prompt-big .styled-button {
    width: 96px;
    height: 96px;
}

.welcome .slick div {
    overflow: hidden;
}

.slick-dots li button:before {
    color: white !important;
    opacity: 0.5 !important;
}

.slick-dots li.slick-active button:before {
    color: $tile-bgcolor !important;
    opacity: 1 !important;
}

.skip-text {
    text-align: center;
    // position: absolute;
    // left: 0;
    // bottom: 0;
    width: 100%;
}

.welcome-example-icon {
    box-shadow: 0 0 9px 2px rgba(255,243,233,0.1);
    width: 96px;
    height: 96px;
    margin: 0 auto;
}

/********************
 Partner Logos
********************/

.partner-logos {
    display: block;
    border-top: 1px solid $background-hr;
    padding-top: 1em;
    text-align: right;
    img {
        display: inline-block;
        margin-bottom: 1em;
        opacity: 0.2;
        transition: 0.3s;
    }
    img:hover {
        opacity: 1;
    }
    .logo {
        width: auto;
        max-height: 200px;
        margin-left: 2em;
        float: right;
    }
}

/********************
 Site header
 *******************/
.site-header-wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 0));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 0));
  margin: 0 auto;
  padding: 0;
}

.site-header {
  //min-height: 48px;
  height: 96px;
  background-color: $brand-color;
  text-align: center;
}

.site-header a {
  display: inline-block;
  vertical-align: middle;
}

.site-header img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  max-height: 100px;
}
.site-header-back-button {
  float: left;
  img {
    width: 64px;
    height: 64px;
    padding: 16px 16px;
    transition: 0.3s;
    &:hover, &:active, &:focus {
      background-color: lighten($tile-bgcolor, 10%);
    }
  }
}

.site-header-menu-button {
/*   transform: rotate(180deg); */
  float: right;
  img { 
    width: 64px;
    height: 64px;
    padding: 16px 16px;
    transition: 0.3s;
    &:hover, &:active, &:focus {
      background-color: lighten($tile-bgcolor, 10%);
    }
  }
}

.site-title {
  //width: 50%;
  img {
    width: auto;
    height: 80px;
    padding: 8px 0;
  }
}

@include media-query($on-palm) {
  .site-header-back-button img {
    width: 32px !important;
    height: 32px !important;
    padding: 16px 8px;

  }
  .site-header-menu-button img {
    width: 32px !important;
    height: 32px !important;
    padding: 16px 8px;
  }
  .site-title {
    //width: 60%;
    img {
      width: auto;
      height: 40px;
      padding: 12px 0;
    }
    
  }
  .site-header {
    height: 64px;
  }
}

@include media-query($on-tiny) {
  .site-header-menu-button img {
    display: none;
  }
}

/********************
  Slide Menu
********************/

.slide-menu {
  display: block;
  background-color: $background-darker;
  //padding-bottom: 1.5em;
  transition: 0.3s;
  transform: perspective(1000px) translate3d(0,10px,-10px);
  height: 0px;
  opacity: 0;

  overflow: hidden;
  z-index: 5;
  h1, h2, h3, h4, h5, h6 {
    //padding-top: 0.5em;
    margin: 0;
    text-align: center;
    font-size: 24px;
  }
  ul {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin: 0 auto;
    padding: 0;
  }
}

.slide-menu-show {
    display: block;
    transition: 0.3s;
    transform: perspective(1000px) translate3d(0,0,0);
    opacity: 1;
    height: auto;
    padding-bottom: 1.5em;
}

/**
 * Page content
 */
.page-content {
    padding: ($spacing-unit / 2) 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    text-align: center;

    li {
        display: inline-block;
        margin: 0;
        line-height: 0;
        a {
            margin: 5px;
            background-color: $tile-bgcolor;
            background-size: 100%;
            color: $tile-color;
            width: $tile-size-large;
            height: $tile-size-large;
            display: inline-block;
            font-size: 20px;
            //width: $spacing-unit * 3;
            //height: $spacing-unit * 3;
            border-radius: $tile-border-radius;
            position: relative;
            padding: 0;
            &:hover, &:active, &:focus {
                background-color: lighten($tile-bgcolor, 10%);
            }
            @include media-query($on-palm) {
                width: $tile-size;
                height: $tile-size;
            }
        }
        text-align: center;
        vertical-align: center;
    }
}



.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-item {
    text-align: center;
    line-height: 0;
    display: block;
    margin-top: $tile-size-large / 2;
    @include media-query($on-palm) {
        margin-top: $tile-size / 2;
    }    
}


/********************
 * Posts
 *******************/

.post-header {
    margin-bottom: $spacing-unit / 2;
    min-height: 3em;
}

.post-title {
    font-size: 26px;
    //letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 22px;
    }
}

.post-title-episode {
    .post-header-stop-id {
        color: #ffffff;
        display: inline-block;
        font-size: 26px;
        line-height: 26px;
        text-align: center;
        vertical-align: center;
        border-radius: $tile-border-radius;
        margin: 0 auto;
        //background-color: $tile-bgcolor;
        background-size: 100%;
        color: $tile-color;
        width: $tile-size-large;
        height: $tile-size-large;
        span {
            text-align: center;
            line-height: 0;
            display: inline-block;
            margin-top: $tile-size-large / 2;
        }
        
    }
    .post-header-section-title {
        //color: lighten($brand-color, 20%);
        display: inline-block;
        color: lighten($brand-color, 50%);
        font-size: 26px;
        line-height: 26px;
        margin-top: 0;
        margin-bottom: 0.25em;
        text-align: center;
    }
    .post-header-title {
        color: lighten($brand-color, 10%);
        font-size: 20px;
        line-height: 26px;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        padding-top: 0.5em;
        border-top: 1px solid $background-hr;
        text-align: left;
    }
    padding-bottom: 0.5em;
    border-bottom: 1px solid $background-hr;
}

.post-content {
    //margin-bottom: $spacing-unit;
    margin-bottom: 106px;

    h2 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 20px;
        color: lighten($brand-color, 10%);

        @include media-query($on-laptop) {
            //font-size: 18px;
        }
    }

    h4 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }
    .credit-title {
        color: darken($text-color, 20%);
        @include media-query($on-palm) {
            display: block;
        }
    }
    .hidden-mobile {
        @include media-query($on-palm) {
            display: none;
        }
    }
}

/*********************************************
Hero images on audio guide stop pages
*********************************************/

.post-hero-image-container {
    margin-bottom: 0.5em;
    background-color: $background-darker;
    border-radius: 5px;
}

.post-hero-image {
    width: 100%;
    //max-height: 300px;
    padding: 0 0;
    margin: 0 auto 0 auto;
    //height: 150px;
    //background-color: $background-darker;
    text-align: center;

    img {
        width: 100%;
        max-width: 512px;
        height: auto;
        display: inline-block;
    }
}

.slick-post-hero-image button.slick-arrow {
    opacity: 0.3;
    @include media-query($on-laptop) {
        display: none !important;
    }
}

/*********************************************
Audio Player Styling
*********************************************/

.jp-audio {
    position: relative;
}

.audio-footer-container {
    background-color: darken($background-darker, 5%);
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    width: 100%;
}


.audio-player {
    padding: 0 0.25em;
    background: none;
    margin-left: auto;
    margin-right: auto;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));

}

.player-now-playing {
    display: block;
    font-size: $player-now-playing-size;
    line-height: $player-now-playing-size;
    //height: $player-now-playing-size * 3;
    //height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    p {
        padding-top: $player-now-playing-size / 2;
        padding-bottom: $player-now-playing-size / 2;;
        margin-bottom: 0;
    }
}

.player-buttons {
    height: $player-height;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: 6px;
    .player-buttons-prev-number {
        float: right;
        line-height: $player-button-size;
        vertical-align: top;
        color: $player-bgcolor;
    }
    .player-buttons-next-number {
        float: left;
        line-height: $player-button-size;
        vertical-align: top;
        color: $player-bgcolor;
    }
    .player-buttons-prev {
        display: inline-block;
        text-align: left;
        position: absolute;
        left: 0;
        a {
            background: url('../img/icons/button_prev.svg');
            background-size: $player-button-size;
            width: $player-button-size;
            height: $player-button-size;

            display: inline-block;
            line-height: $player-height;
            margin: 0;
            padding: 0;
            z-index: 10000;
        }
    }

    .player-buttons-next {
        display: inline-block;
        text-align: right;
        position: absolute;
        right: 0;
        a {
            background: url('../img/icons/button_next.svg');
            background-size: $player-button-size;
            width: $player-button-size;
            height: $player-button-size;

            display: inline-block;
            line-height: $player-height;
            margin: 0;
            padding: 0;
            text-align: right;
            z-index: 10000;            
        }
    }
}

// jPlayer
// Progress bar

.jp-progress {
    width: 100%;
    height: $player-progress-height;
    margin: 0 0 0 0;
    border-radius: 3px;
    background-color: $player-loaded-color;
}

// Progress bar -- how much has played so far
.jp-play-bar {
    height: $player-progress-height;
    border-radius: 3px;
    background-color: $player-progress-color;
}

.jp-controls button.jp-play {
    background: none;
    width: $player-button-size;
    height: $player-button-size;
    background: url('../img/icons/button_play.svg');
    background-size: 44px;
    border: 2px solid #aaaaaa !important;
    border-radius: 32px !important;
    &:hover {
        border-color: $player-bgcolor !important;
    }
}

.jp-state-playing button.jp-play {
    background: url('../img/icons/button_pause.svg');
    background-size: $player-button-size;
    background-size: 44px;
}



// Fallback audio element styling -- just for use if you're using the default HTML5 audio element with controls

audio {
    margin: 0 auto;
    display: block;
}
