---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-font-size:   20px;

$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       	#fafafa;
$background-hr:		#383838;
$background-color: 	#222222;
$background-darker: #1B1B1B;
// !!! $brand-color:	   	#bec878;
$brand-color:	   	#bec878;
$brand-color-dark:	   	#3c4632;
$anchor-hover-color:	lighten($brand-color, 20%);

$player-now-playing-size:   13px;
$player-height:		64px;
$player-button-size:	48px;
$player-bgcolor:	$brand-color;
$player-scrubber-color:	darken($brand-color, 1%);
$player-loaded-color:	darken($brand-color, 5%);
// !!! $player-progress-color:		darken($brand-color, 10%);
$player-progress-color:		$brand-color-dark;
$player-play-color:		lighten($brand-color, 5%);
$player-progress-height: 10px;

//$tile-bgcolor:	   $brand-color;
$tile-bgcolor:	   $brand-color-dark;
// !!! $tile-color:	   #fafafa;
$tile-color:	   $brand-color;
$tile-size:		   56px;
$tile-size-large:  64px;
$tile-border-radius:	2px;

$grey-color:       $brand-color;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-tiny:          310px;
$on-palm:          640px;
$on-laptop:        800px;

$height-600:       600px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-query-height($device) {
    @media screen and (min-height: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "fonts",
        "base",
        "layout",
        "syntax-highlighting"
;
