---
layout: master_episode
---

<article class="post">

  <header class="post-header">
    <div class="post-title-episode">
      <div class="post-header-stop-id" style="background-image: url('{{ site.baseurl }}{{ site.headphones_icon_light }}');"><span>{{ page.stop_id }}</span></div>
      {% if page.section_title != null %}
        <h2 class="post-header-section-title">{{ page.section_title }}</h1>
      {% endif %}
      {% if page.title != null %}
        <h3 class="post-header-title">{{ page.title }}</h2>
      {% endif %}
    </div>
  </header>
  {% if page.hero_images != null %}
    <div class="slick-container post-hero-image-container">
      <div class="slick-post-hero-image">
        {% for hero in page.hero_images %}
          <div class="post-hero-image">    
            <img src="{{ site.baseurl }}{{ site.episode_hero_path }}{{hero.path}}" alt="{{hero.alt_text}}"/>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <div class="post-content">
    {{ content }}
  </div>

</article>
