<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include tagmanager.html %}
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper welcome">
        <div class="slick-container-container">
          <div class="slick-container">
            <div class="slick">
              <div>
                <p>Cet audioguide présente la collection de la <b>Maison de la Résistance Mathias Mathieu</b> à travers 35 stations pour une visite d'environ 90 minutes.</p>
                <div class="prompt slick-slide-to-next">Faire glisser pour voir la suite
                  <span class="button-forward">
                    <img src="{{ site.baseurl }}/assets/img/icons/button_forward.png"/>
                  </span>
                </div>
              </div>
              <div>
                <p>Lorsque vous repérez un symbole de casque audio dans l'exposition, sélectionnez la station avec le numéro correspondant sur l'audioguide.</p>
                <p>
                  <img class="welcome-example-icon slick-slide-to-next" src="{{ site.baseurl }}/assets/img/manual/example-headphones-icon.png"/>
                </p>
              </div>
              <div>
                <p>Appuyez sur l'icône de menu en haut à droite de l'écran pour changer de station.</p>
                <p>
                  <img class="screenshot slick-slide-to-next" src="{{ site.baseurl }}/assets/img/manual/highlight-bento-menu.png"/>
                </p>
              </div>
              <div>
                <p>Utilisez les boutons en bas de l'écran pour aller à la station suivante ou pour revenir à la station précédente.</p>
                <p>
                  <img class="screenshot slick-slide-to-next" src="{{ site.baseurl }}/assets/img/manual/highlight-footer-buttons.png"/>
                </p>
              </div>
              <div>
                <br/>
                <p class="centered"><a href="{{ site.baseurl }}/">Bonne visite !</a></p>
                <p class="centered">
                  <a href="{{ site.baseurl }}/" class="prompt-big"><button class="styled-button"><img src="{{ site.baseurl }}/assets/img/icons/button_forward.png"/></button></a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="arrows-container">
        </div>

        {{ content }}
      </div>
      <p class="skip-text">
        <a href="{{ site.baseurl }}/">
          Revenir à la visite
        </a>
      </p>
    </div>

  </body>

</html>
